numpy>=2.0.0
sentence-transformers
flask
pypdf
python-dotenv
pinecone
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
langchain-nvidia-ai-endpoints
langchain-experimental
-e .
