langchain
langchain_community
langchain_core
langchain_classic
langchain_nvidia_ai_endpoints
langchain_huggingface
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
unstructured